.footer {
  background-color: #0b3171;
  color: #0b3171;
  padding: 40px 5vw;
  font-family: Arial, sans-serif;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto 30px;
}

.footer-column {
  flex: 1 1 200px;
  min-width: 180px;
}

.footer-logo img {
  width: 300px;
  margin-bottom: 15px;
}

/* social icons */
.social-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 20%;
}

.social-icons a {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease;
  overflow: hidden;
}

.social-icons a:hover,
.footer-column ul li a:hover{
  color: #e7b745;
  border-color: #e7b745;
}

.social-icons img{
  margin-top: 13px;
  padding: 2px;
}

.footer-column h4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 12px;
  border-bottom: 3px solid #e7b745;
  display: inline-block;
  padding-bottom: 4px;
  color: #e7b745;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 1rem;
  line-height: 2;
}

.footer-column ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-column ul li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  flex: 1;
}

.footer-column ul li svg {
  color: #e7b745;
  min-width: 20px;
}

.footer-bottom {
  border-top: 1px solid #e7b745;
  padding-top: 15px;
  text-align: center;
  color: white;
  font-size: 0.9rem;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-main {
    flex-direction: column;
    align-items: start;
  }

  .footer-column {
    max-width: 300px;
    text-align: start;
    margin-left: 20px;
  }
}
