.subheader {
    background-color: #05436941;
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    font-size: 14px;
    align-items: center;
  }
  
.social_icon {
    display: flex;
    gap: 10px;
  }
  
.icon-box {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
.icon-box:hover {
    background-color: #F1C40F;
  }
  
  
  .contact-number {
    font-weight: bold;
  }
  