.faq {
  padding: 40px 5vw;
  background-color: #FDFDFD;
}

.faq h2 {
  font-size: 2vw;
  margin-bottom: 20px;
}

.faq-item {
  margin-bottom: 15px;
}

.faq-item h4 {
  font-size: 1.2vw;
  margin-bottom: 5px;
  color: #444;
}

.faq-item p {
  font-size: 1vw;
  color: #777;
}
