.hero {
    height: 34vw;
    margin: 20px auto;
    background: url('/header_img.png') no-repeat center center;
    background-size: cover; 
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    width: 95%;
}

.hero-contents {
    position: absolute;
    top: 50%; 
    left: 6vw; 
    transform: translateY(-50%); 
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    animation: fadeIn 3s;
}

.hero-contents h2 {
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}

.hero-contents p {
    color: white;
    font-size: 1vw;
    line-height: 1.5;
}

.hero-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    cursor: pointer;
}

.hero-contents button:hover{
  background-color: #e3d6db;
}